<div
        id="{{ block.id }}"
        class="{{ block.class }}">

    {% if block.title.value %}
        <h3>{{ block.title }}</h3>
    {% endif %}

    <div class="block-content">
        {{ block.content|raw }}
    </div>

</div>
